{% extends 'base.html.twig' %}

{% block title %}Edit Hoursworked{% endblock %}

{% block body %}
    <h1>Edit Hoursworked</h1>

    {{ include('hoursworked/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_hoursworked_index') }}">back to list</a>

    {{ include('hoursworked/_delete_form.html.twig') }}
{% endblock %}
